html {
    overflow-x: hidden;
}

#slide > * {
    animation: 20s autoplay infinite linear;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 4rem;
    left: 0;
    margin-left: 100%;
}

@keyframes autoplay {
    0% {margin-left: 100%;}
    10% {margin-left: 0;}
    50% {margin-left: 0;}
    60% {margin-left: -100%}
    100% {margin-left: -100%}
}

#slide > *:nth-child(1) {margin-left: 0; animation-delay: 0s}
#slide > *:nth-child(2) {margin-left: 100%; animation-delay: 10s}