html {
    overflow-x: hidden;
}

#slide > * {
    animation: 20s autoplay infinite linear;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 0;
}

@keyframes autoplay {
    10% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    100% {opacity: 0;}
}

#slide > *:nth-child(1) {opacity: 1; animation-delay: 0s; position: absolute;}
#slide > *:nth-child(2) {opacity: 0;; animation-delay: 10s; position: relative;}